body 
{
background-color: green;
}

header 
{
background-color: green;
padding: 0.1px 0;
margin: 0 200px;
display: flex;    
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 8px;
}

imagem3 
{
padding: 5px;
width: 100px;
}

header strong {
align-items: center;
align-self: center;
text-align: center;
margin-top: 25px;
margin-bottom: 20px;
font-size: 30px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center
}

header img 
{
padding-left: 7px;
}

div 
{
margin-top: 7px;
}

#imgagem 1
{
position: absolute;
right: 0;
}


div p #explain 
{
border: 0pt none;
float: left;
padding-right: 7px;
padding-bottom: 1px;
}

table 
{
border: none;
}

th, td 
{
border: none;
background-color: green;
padding: 5px;
width: 100px;
}

th 
{
background-color: black;
color: white;
}

figure .campus 
{
right: 100px;
}